<!DOCTYPE html>
<html>
<head>
  <title><%- title %></title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <!--STYLES-->
  <link rel="stylesheet" href="/linker/styles/vendor/bootstrap/bootstrap.min.css">
  <!--STYLES END-->

  <!--SCRIPTS-->
  <script src="/linker/js/socket.io.js"></script>
  <script src="/linker/js/sails.io.js"></script>
  <script src="/linker/js/app.js"></script>
  <script src="/linker/js/vendor/jquery/jquery-1.11.1.min.js"></script>
  <script src="/linker/js/vendor/bootstrap/bootstrap.min.js"></script>
  <script src="/linker/js/vendor/angular/angular.min.js"></script>
  <script src="/linker/js/vendor/angular/angular-resource.min.js"></script>
  <script src="/linker/js/vendor/angular/angular-route.min.js"></script>
  <script src="/linker/js/vendor/angular/angular-animate.min.js"></script>
  <!--SCRIPTS END-->

</head>

<body ng-app="ut">

  <%- body %>

</body>
</html>
