<script src="/js/angular/modules/filters.js"></script>
<script src="/js/angular/modules/ut.js"></script>
<script src="/js/angular/controllers/home_ctrl.js"></script>
<script src="/js/angular/routes/home_route.js"></script>

<div ng-view>

</div>